    * {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
    }
    /* ------------- 

##################################
######### style guide #############
################################## 

---------------*/
    
     :root {
        --black: rgba(0, 0, 0, 1);
        --darkgrey: rgba(67, 67, 67, 1);
        --green---fdy: rgba(93, 176, 166, 1);
        --green2---fdy: rgba(137, 181, 175, 1);
        --green3: rgba(141, 216, 211, 1);
        --white: rgba(255, 255, 255, 1);
        --light-green---fdy: rgba(206, 229, 208, 1);
        --white-2: rgba(255, 255, 255, 0.902);
        --white: rgba(255, 255, 255, 1);
        --yellow: #F6EABE;
        --gray: 3B3B3B;
        --font-size-xxs: 9px;
        --font-size-xs: 12px;
        --font-size-s: 14px;
        --font-size-m: 16px;
        --font-size-l: 18px;
        --font-size-xl: 20px;
        --font-size-xl2: 25px;
        --font-size-xxl: 45px;
        --font-family-inter: "Inter";
        --font-family-inter-semibold: "Inter-SemiBold";
        --font-family-inter-medium: "Inter-Medium";
        --font-family-pacifico-regular: "Pacifico-Regular";
        --font-family-pacifico: "Pacifico";
    }
    
    .inter-medium-white-9px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xxs);
        font-weight: 400;
        font-style: normal;
    }
    
    .inter-normal-white-12px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xs);
        font-weight: 400;
        font-style: normal;
    }
    
    .inter-medium-white-14px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-s);
        font-weight: 400;
        font-style: normal;
    }
    
    .inter-medium-white-16px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 200;
        font-style: normal;
    }
    
    .inter-fontweight500-white-16px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 500;
        font-style: normal;
    }
    
    .inter-medium-white-18px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-l);
        font-weight: 500;
        font-style: normal;
    }
    
    .inter-medium-white-20px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xl);
        font-weight: 300;
        font-style: normal;
    }
    
    .pacifico-regular-normal-white-45px {
        color: var(--white);
        font-family: var(--font-family-pacifico-regular);
        font-size: var(--font-size-xxl);
        font-weight: 400;
        font-style: normal;
    }
    
    .border-5px-green2---fdy {
        border-width: 5px;
        border-style: solid;
        border-color: var(--green2---fdy);
    }
    
    .border-4px-green2---fdy {
        border-width: 4px;
        border-style: solid;
        border-color: var(--green2---fdy);
    }
    
    .border-4px-white {
        border-width: 4px;
        border-style: solid;
        border-color: var(--white);
    }
    
    .border-5px-green2---fdy {
        border-width: 5px;
        border-style: solid;
        border-color: var(--green2---fdy);
    }
    
    .border-20px-white {
        border-width: 20px;
        border-style: solid;
        border-color: var(--white);
    }
    
    .border-20px-white-2 {
        border-width: 20px;
        border-style: solid;
        border-color: var(--white-2);
    }
    /* ------ buttons ------  */
    
    .button-green {
        align-items: center;
        align-self: center;
        background-color: var(--green---fdy);
        border-radius: 16px;
        display: flex;
        height: 62px;
        min-width: 280px;
        cursor: pointer;
    }
    
    .button-green:hover {
        background-color: var(--green2---fdy);
    }
    
    .button-green-pos {
        align-items: center;
        align-self: center;
        background-color: var(--green---fdy);
        border-radius: 16px;
        display: flex;
        height: 62px;
        min-width: 280px;
        position: absolute;
        top: 600px;
        cursor: pointer;
    }
    
    .button-green-pos:hover {
        background-color: var(--green2---fdy);
    }
    
    .button-green-text {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 500;
        height: 22px;
        letter-spacing: 0;
        text-align: center;
        width: 280px;
    }
    
    .button-green-outline {
        align-items: center;
        align-self: center;
        border: 3px solid var(--green3);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 500;
        height: 22px;
        border-radius: 16px;
        display: flex;
        height: 56px;
        width: 274px;
        cursor: pointer;
    }
    
    .button-green-outline-text {
        color: var(--green3);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 500;
        height: 22px;
        letter-spacing: 0;
        text-align: center;
        width: 280px;
    }
    
    .button-green-outline:hover {
        border: 3px solid var(--green2---fdy);
    }
    
    .button-without-outline {
        align-items: center;
        align-self: center;
        width: 280px;
        height: 42px;
        display: flex;
        border: 3px solid #434343;
        border-radius: 16px;
        position: absolute;
        top: 665px;
    }
    
    .button-without-outline-text {
        color: #E0E0E0;
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-style: normal;
        font-weight: normal;
        height: 22px;
        text-align: center;
        width: 272px;
    }
    
    .position-button-welcome {
        position: relative;
        top: 830px;
        width: 100px;
        left: 181px;
    }
    /* ------------- 

##################################
######### ALL SCREENS ############
################################## 

---------------*/
    
    .container-center-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        pointer-events: none;
        width: 100%;
    }
    
    .container-center-horizontal>* {
        flex-shrink: 0;
        pointer-events: auto;
    }
    
    .logo {
        height: 42px;
        left: 169px;
        position: absolute;
        top: 273px;
        width: 42px;
    }
    
    .body {
        margin: 0;
        padding: 0;
        background-color: var(--darkgrey);
    }
    
    .rectangle-78-1 {
        height: 268px;
        left: 0;
        position: absolute;
        top: 230px;
        width: 268px;
    }
    
    .rectangle-79-1 {
        height: 420px;
        left: 110px;
        position: absolute;
        top: 0;
        width: 378px;
    }
    
    .headline {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xl2);
        font-weight: 500;
        left: 76px;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        top: 221px;
        width: 360px;
    }
    
    .text-1 {
        left: 116px;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        top: 750px;
        width: 280px;
    }
    
    .progress {
        height: 32px;
        left: 212px;
        position: absolute;
        top: 169px;
        width: 89px;
    }
    
    .screen a {
        display: contents;
        text-decoration: none;
    }
    
    .screen {
        align-items: flex-start;
        background-color: var(--darkgrey);
        /* border-radius: 32px; */
        display: flex;
        /* height: 760px; */
        overflow: hidden;
        width: 100%;
    }
    /*---------------

##################################
####### WELCOME SCREEN ###########
################################## 

---------------*/
    
    #welcome {
        background-color: var(--darkgrey);
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    #welcome .overlap-group1 {
        height: 5000px;
        margin-top: -220.0px;
        position: relative;
        width: 640px;
    }
    
    #welcome .title {
        color: var(--white);
        font-family: var(--font-family-pacifico);
        font-size: var(--font-size-xxl);
        font-weight: 400;
        left: 199px;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        top: 650px;
    }
    
    #welcome .text-1 {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 300;
        left: 180px;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        top: 730px;
    }
    /* ------------- etc. ---------------*/
    
    .container-center-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        pointer-events: none;
        width: 100%;
    }
    
    .container-center-horizontal>* {
        flex-shrink: 0;
        pointer-events: auto;
    }
    
    .valign-text-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* ------------- background style ---------------*/
    
    #welcome .overlap-group {
        height: 831px;
        left: -350px;
        position: absolute;
        top: -34px;
        width: 1041px;
    }
    
    #welcome .ellipse-100 {
        background-color: var(--green2---fdy);
        border-radius: 256.98px/229.21px;
        height: 458px;
        left: 441px;
        position: absolute;
        top: 149px;
        transform: rotate(45.65deg);
        width: 514px;
    }
    
    #welcome .ellipse-101 {
        background-color: #CEE5D0;
        border-radius: 99.5px;
        height: 199px;
        left: 615px;
        position: absolute;
        top: 399px;
        width: 199px;
    }
    
    #welcome .img-salad-welcome {
        height: 504px;
        left: 531px;
        object-fit: cover;
        position: absolute;
        top: 115px;
        width: 504px;
    }
    
    #welcome .img-cucumber-welcome {
        position: absolute;
        width: 964px;
        height: 831px;
        left: 0;
        top: 0;
    }
    
    #welcome .rectangle-78 {
        position: absolute;
        border-radius: 70px;
        height: 230px;
        left: 390px;
        top: 400px;
        transform: rotate(-41.55deg);
        width: 230px;
    }
    
    #welcome .rectangle-79 {
        border-radius: 70px;
        height: 290px;
        left: 618px;
        position: absolute;
        top: 178px;
        transform: rotate(-41.55deg);
        width: 308px;
    }
    /* ------------- 

##################################
########## SELECT DIET ###########
################################## 

---------------*/
    
    #select-diet {
        align-items: center;
        justify-content: center;
        background-color: var(--darkgrey);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    #select-diet .overlap-group8 {
        align-self: center;
        height: 579px;
        margin-left: -75.59px;
        margin-top: -111px;
        position: relative;
        width: 546px;
    }
    
    .button-position-save-diet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #select-diet .title {
        left: 163px;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        top: 622px;
        width: 312px;
    }
    
    #select-diet .text-1 {
        left: 116px;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        top: 750px;
        width: 280px;
    }
    
    #select-diet .span0 {
        color: var(--white);
    }
    
    .select-diet .span1 {
        color: var(--green3);
    }
    
    #select-diet .diet-options {
        align-items: flex-start;
        display: flex;
        height: 228px;
        left: 160px;
        min-width: 191px;
        position: absolute;
        top: 370px;
    }
    
    #select-diet .option-container1 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        min-height: 223px;
        width: 84px;
    }
    
    #select-diet .overlap-group2 {
        align-items: flex-start;
        border-radius: 36.01px;
        display: flex;
        height: 72px;
        margin-left: 1.78px;
        min-width: 72px;
        padding: 11.1px 11.3px;
    }
    
    #select-diet .pesceterian-option {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 31px;
    }
    
    #select-diet .overlap-group-diet-option {
        padding: 14px 14px;
    }
    
    #select-diet .overlap-group-diet-option2 {
        padding: 16px 16px;
    }
    
    #select-diet .option-container2 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 27px;
        min-height: 223px;
        width: 84px;
    }
    
    #select-diet .vegan-option {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    
    #select-diet .icon-diet {
        color: var(--green---fdy);
        height: 38px;
        width: 38px;
    }
    
    #select-diet .icon-diet2 {
        color: var(--green---fdy);
        height: 42px;
        width: 42px;
    }
    
    #select-diet .gluten-free-option {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        min-height: 96px;
        width: 82px;
    }
    
    #select-diet .diet-text {
        letter-spacing: 0;
        margin-left: 0;
        margin-top: 6px;
        min-height: 17px;
        text-align: center;
        width: 80px;
    }
    
    #select-diet .overlap-group4 {
        align-items: center;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        min-width: 18px;
        position: absolute;
    }
    
    #select-diet .info {
        height: 40px;
        left: 362px;
        position: absolute;
        top: 216px;
        width: 40px;
    }
    
    #select-diet .logo {
        height: 42px;
        left: 104px;
        position: absolute;
        top: 164px;
        width: 42px;
    }
    
    .ellipse-95 {
        border-radius: 36px;
        height: 70px;
        width: 70px;
    }
    
    #select-diet .button-green {
        margin-top: 90px;
    }
    
    #select-diet .button-green-outline {
        margin-top: 22px;
    }
    /*---------------

##################################
########## RESPONSIVE ############
################################## 

---------------*/
    /* for screens > 768 px (e.g. tablet view) */
    
    @media only screen and (min-width: 768px) {
        /* #welcome .img-cucumber-welcome {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    } */
    }
    /* for screens > 1000px px (e.g. desktop view) */
    
    @media only screen and (min-width: 1000px) {
        /* #welcome .img-cucumber-welcome {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    } */
    }